.header {
  .inner {
    display: flex;
    align-items: center;
    gap: 140px;
    height: 80px;
  }
  .nav-list {
    display: flex;
    gap: 50px;
  }

  .nav-item {
    a {
      font-weight: 500;
    }
  }
}
